<!DOCTYPE html>
<html>
    <head>
        <title>Chat</title>
        <meta charset="UTF-8" />
        <link href="site.css" rel="stylesheet" />
        <link href="chat.css" rel="stylesheet" />
    </head>
    <body>
        <main>
            <h1>Chat</h1>
            <button type="button" id="send-message">Click me!</button>
        </main>
        <footer>
        </footer>

        <!-- scripts -->
        <script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>
        <script>
            let socket = io();
            
            // process
            // 1. pool users - find user to chat with
            // 2. create connection between users
                // to make this work, user id and chat id must be implemented
            // 3. facilitate chats
            
            document.getElementById('send-message').addEventListener('click', () =>{
                socket.emit('clicked button', 'User clicked button.');
            });

        </script>
    </body>
</html>